@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body{
    font-family: 'Work Sans';
}

main{
    height: 2000px;
}

.secciones{
    display: flex;
}

.seccion1{
    width: 90%;
    padding-bottom: 40px;
}

.seccion2{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.863);
    height: 1660px;
}

.titulo_seccion{
    margin-left: 50px;
    font: bold;
    margin-top: 50px;
    padding-top: 70px;
}

.titulo_seccion_salon{
    font: bold;
    margin-top: 50px;
    margin-left: 50px;
}

.titulos_salones{
    display: flex;
    gap: 400px;
}

.foto_cno{
    background-image: url(./images/pileta.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 350px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.foto_cno img{
    width: 100%;

}

.imagen_estilo{
    width: 100%;
    height: 346px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    opacity: 0;
    transition: 0.2s;
}

.imagen_estilo_desc{
    color: white;
    padding-top: 100px;
}

.foto_cno:hover .imagen_estilo{
    opacity: 1;
}

.titulo_h{
    margin-left: 50px;
    padding-top: 20px;
}

.cno_descripcion{
    margin-left: 50px;
    padding-top: 20px;
}

/* Deportes */

.deportes{
    display: flex;
}

.deportes_card{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 20px;
    overflow: hidden;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    transition: all 0.25s;
    text-align: center;
}

.foto_deporte{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card_info{
    width: 300px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    position: absolute;
    top: 0;
    color: rgb(245, 237, 237);
    padding-top: 20px;
    transition: .6s all;
    cursor: pointer;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.deportes_card:hover .card_info{
    opacity: 1;
}

.deportes_card p{
    margin: 10px;

}

.deportes_card h4{
    margin: 5px;

}

/* Servicios */

#fondo_servicios{
    background-color: rgba(0, 110, 255, 0.267);
    width: 1450px;
    height: 550px;
}

/* Navbar */

nav{
    background-image: url(./images/fondonav.jpg);
    opacity: 1;
    padding-bottom: 20px;
}

.d-inline-block.align-text-top{
    width: 80px;
    height: 80px;
}

.container-fluid{
    margin-top: 20px;
    width: 100%;
}

.titulo_navbar{
    display: flex;
}

.nav-item a{
    font-size: 18px;
    font: bold;
    color: black;
}


/* Ubicacion */

.ubicacion{
    margin-left: 30px;
    margin-top: 120px;
}

.titulo_ubicacion{
    color: rgb(214, 205, 205);
}

.mapa{
    margin-top: 18px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.26);
}

.descripccion2{
    color: rgb(214, 205, 205);
    margin-top: 15px;
}

.ubicacion a, p{
    text-decoration: none; 
    color: white;
    margin-top: 10px;
    font-size: 20px;
}

/* Footer */

footer{
    width: 100%;
    height: 200px;
    background-color: rgb(22, 21, 21);
}

footer p{
    text-align: center;
    padding-top: 70px;
}