@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';

}

body{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    size: 100%;
}     

/*MAIN INDEX*/

.nav-container{
    height: 20px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

h1{
    color: white;
    padding-top: 13px;
    padding-left: 10px;
    font-family: 'Quicksand';
}


.cajaForm{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    cursor: pointer;
}

.formulario{
    width: 400px;
    height: 400px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    -webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);    
}

.formulariodos{
    width: 400px;
    height: 600px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    -webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);    
}

.formu{
    padding: 20px;
    margin: 20px;
}

label{
    color: white;
}

.reg{
    padding-top: 10px;
}

.fpssw{
    padding-top: 5px;
}


/* REGISTRO */
.register{
    margin-top:10px;
}

.mb-3{
    padding-top: 10px;
}